$unit_px: 16px;

@import 'libs/normalize';
@import 'libs/lib';
@import 'libs/font-awesome';

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

$color_txt: #333;
$color_wht: #fff;
$color_grey: #808080;
$color_emp: #000;

html {

	font-family: Helvetica, sans-serif;
	@include rem(font-size, 1rem);

	img {vertical-align:middle;}
	input:focus {outline:none;}
	ol, ul, li {list-style:none;}

	::-moz-selection {text-shadow:none;color:$color_wht;background:$color_txt;}
	::selection {text-shadow:none;color:$color_wht;background:$color_txt;}

	a {
		@include ease;
		display: block;
		text-decoration: none;
		color: $color_txt;
		&:hover {color: $color_emp;}
	}

	body {

		margin: 0;
		padding: 0;

		.wrapper {}
	}
}